

#forex-rates-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  /* background-color: green; */
  
  padding-left: 0px;
  margin-bottom: 0;
  /* color: whitesmoke; */
 
}

#forex-rates-heading {
  font-size: 15px;
  margin: 0;
  /* color: whitesmoke;
  background-color: green; */
 
}

#learn-more-btn {
  margin-bottom: 10px;
}


p{
    font-size: 14px;
}


.checklist{
    list-style: none;
}



.red-flags{
    color: red;
}

.list-key-qns{
  list-style: none;
}





