

#forex-rates-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  /* background-color: green; */
  
  padding-left: 0px;
  margin-bottom: 0;
  /* color: whitesmoke; */
 
}

#forex-rates-heading {
  font-size: 15px;
  margin: 0;
  /* color: whitesmoke;
  background-color: green; */
 
}

#learn-more-btn {
  margin-bottom: 10px;
}


p{
    font-size: 14px;
}


.checklist{
    list-style: none;
}



.red-flags{
    color: red;
}

.list-key-qns{
  list-style: none;
}

footer{
padding: 64px 16px;
margin-top: 20px;
  
}

.social-icon{
  filter: invert(28%) sepia(32%) saturate(308%) hue-rotate(359deg); 
  padding: 5px;
}

.social-network a:hover .social-icon {
  filter: invert(85%) sepia(12%) saturate(318%) hue-rotate(359deg);
}

.contact-icon{
  filter: invert(28%) sepia(32%) saturate(308%) hue-rotate(359deg);
}

.contact-icon:hover{
  filter: invert(85%) sepia(12%) saturate(318%) hue-rotate(359deg); 
}

html{
  scroll-behavior: smooth;
}


